.ui-g {
	display: flex;
	justify-content: center;
}

.user-table-content {
	text-align: center;
}
.company-table-content {
	text-align: center;
}

.active-status {
	color: #81c784;
}

.inactive-status {
	color: #e57373;
}

.locale-en {
	margin: 10; 
	background-image: url("#{resource['img/flag-en.png']}");
    height: 19px;
    width: 28px;
    border-top-left-radius: 6px;
}

.locale-hu {
	margin: 0; 
    background-image: url("#{resource['img/flag-hu.png']}");
    height: 19px;
    width: 28px;
    border-bottom-right-radius: 6px;
}

.reportPagePanel {
	padding-bottom: 50px;
	padding-top: 50px;
}